/*#region Btn*/

.btn-organizer {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
}

.btn-organizer:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn-organizer,
.btn-organizer:focus {
  user-select: auto;
}

.btn-organizer:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.btn-organizer:disabled {
  cursor: auto;
}

.btn-organizer:active {
  border-width: 4px 0 0;
  background: none;
}

/* 📱 Mobile */
@media (max-width: 576px) {
  .btn-organizer {
    width: 80%;
    font-size: 14px;
    padding: 12px 14px;
  }
}

/* 📲 Tablet piccoli */
@media (min-width: 577px) and (max-width: 767px) {
  .btn-organizer {
    width: 60%;
    font-size: 15px;
    padding: 13px 16px;
  }
}

/* 💻 Tablet grandi */
@media (min-width: 768px) and (max-width: 991px) {
  .btn-organizer {
    width: 40%;
    font-size: 16px;
    padding: 16px 32px;
  }
}

/* 🖥️ Desktop */
@media (min-width: 992px) {
  .btn-organizer {
    width: auto; /* non più in % */
    max-width: 200px; /* o 250px, a tua scelta */
    font-size: 16px;
    padding: 16px 32px;
  }
}
/*#endregion Btn*/

/*#region Sidebar*/
.logo {
  max-width: 20%;
}

i {
  color: #266db6;
  transition: transform 0.6s ease-in-out;
  display: inline-block;
}
.nav-link:hover i {
  transform: rotate(360deg);
}

.fa-plane {
  transform: rotate(-30deg);
}

/*#endregion Sidebar*/
